.wrapper{
    height: 444px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.used {
    width: 100%;
    height: 100%;
    opacity: 0.5;
    pointer-events: none;
    user-select: none;
    cursor: not-allowed;
}

.draggable_component:hover{
    cursor: move
}