.wrapper{
    height: 444px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.runtime, .used {
    opacity: 0.5;
    pointer-events: none;
    user-select: none;
    cursor: not-allowed;
}
